.new_list__header {
  background: #242F9B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -2rem -2rem 2rem -2rem;
  padding: 1.5rem 2rem;
}

.new_list__title {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0.025em;
}

.new_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  max-width: 600px;
  margin: 0 auto;
}

.new_list__error {
  color: var(--red-500);
}

.new_list__title {
  color: var(--slate-700);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.new_list__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 240px;
}

.new_list__form_field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.new_list__form_label {
  color: var(--slate-600);
  font-weight: 500;
}

.new_list__form_actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  max-width: 240px;
}

.new_list__form_actions_spacer {
  flex: 1;
}
